include README.md
include LICENSE
include MANIFEST.in
recursive-include docs *.md
recursive-include examples *.py
recursive-exclude tests *
recursive-exclude .venv *
recursive-exclude .git *
recursive-exclude .pytest_cache *
recursive-exclude __pycache__ *
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude .DS_Store
